[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Sheng-Wei
	email = swai6374@gmail.com
[core]
	excludesfile = /Users/wei/.gitignore_global
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    df = diff
    lg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
[color]
    ui = true
